{% render 'views/head.liquid', title: 'Squad page' %}


{% comment %} Miel {% endcomment %}

<section class="carrousel">
  <button>1971</button>
  <button>1973</button>
  <button>1984</button>
  <button>1990</button>
  <button>1994</button>
  <button>1999</button>
  <button>2000</button>
  <button>2001</button>
  <button>2002</button>
  <button>2003</button>
  <button>2004</button>
  <button>2005</button>
  <button>2006</button>
  <button>2007</button>


{% comment %} alle articles van 1971 {% endcomment %}
{% for person in ninetySeventyOne %}
  <article>
  <li> <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a></li>
  <p> {{ person.name }} </p>
  </article>
{% endfor %}


{% comment %} alle articles van 2005 {% endcomment %}

{% for person in twoThousandFive %}
  <article>
  <li> <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a></li>
  <p> {{ person.name }} </p>
  </article>
{% endfor %}

{% comment %} 1971 {% endcomment %}


<div class="container">
  <p>Scroll</p>
</div>
</section>

{% comment %} Kate {% endcomment %}

<div>
<img src="{{ person.avatar }}" width="150px">
<p>{{ person.name }}</p>
<p>{{ person.bio }}</p>
</div>

<h2>Comments</h2>

{% for message in messages %}
<p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
{% else %}
<p>Er zijn nog geen berichten voor dit team.</p>
{% endfor %}

 <section>
<h2>Voeg een bericht toe</h2>
  <form method="post" action="/">
    <label>
      Naam:
      <input type="text" name="from" required>
    </label>
    <label>
      Bericht:
      <textarea name="text" required></textarea>
    </label>
    <button type="submit">Verstuur</button>
  </form>
</section>

{% comment %} Kyan {% endcomment %}

<section class="birthdates">
  <button class="btnleft">left</button>
    <h3>1971</h3>
    <h3>1973</h3>
    <h3>1984</h3>
    <h3>1990</h3>
    <h3>1994</h3>
    <h3>1999</h3>
    <h3>2000</h3>
    <h3>2001</h3>
    <h3>2002</h3>
    <h3>2003</h3>
    <h3>2004</h3>
    <h3>2005</h3>
    <h3>2006</h3>
    <h3>2007</h3>
  <button class="btnright">right</button>
</section>

{% render 'views/end.liquid', squads: squads %}